/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        Bootlader {
            bindings = <&bootloader>;
            key-positions = <0 1>;
        };

        BT {
            bindings = <&tog 3>;
            key-positions = <0 1 2>;
        };

        Scroll {
            bindings = <&tog 2>;
            key-positions = <1 2>;
        };

        Out {
            bindings = <&out OUT_TOG>;
            key-positions = <0 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &mkp LCLK &mkp RCLK &mkp MCLK &none &none &none
                &none     &none     &none     &none &none &none
                &none     &none     &none     &none &none &none
            >;
            
            label = "Base";
        };
		
		layer_2 {
            bindings = <
		&mkp LCLK &msc SCRL_DOWN &msc SCRL_UP &none &none &none
                &none     &none          &none        &none &none &none
                &none     &none          &none        &none &none &none
            >;

            label = "Scroll";
        };
		
		layer_3 {
            bindings = <
		&bt BT_SEL 0 &bt BT_SEL 1 &bt BT_CLR &none &none &none
                &none        &none        &none      &none &none &none
                &none        &none        &none      &none &none &none
            >;

            label = "BT";
        };
    };
};	
